body {
  font-size: 1.5rem;
}
@media only screen and (max-width: 1920px) {
  .navigation {
    background: unset;
    background-color: transparent !important;
    border-color: transparent;
    background-image: none;
    box-shadow: none;
    text-align: center;
    display: block;
  }
  .navigation ul {
    margin-top: 1vw;
    width: max-content;
    margin: auto;
    padding-top: 25px;
  }
  .navigation li a {
    font-size: 20px;
    color: #fff;
  }
  .navigation .level0 {
    float: left;
    border-top: unset;
  }
  .navigation .level0 > .level-top {
    padding: 0 0 0 6vw;
    color: black;
    font-family: sans-serif;
  }
  .navigation li.level0:last-child {
    border-bottom: unset;
  }
  .nav-sections {
    background: unset;
  }
  .block-search {
    width: auto;
    margin-top: -19px;
    float: right;
  }
  .block-search .action.search {
    position: unset;
    padding: 0;
    margin-top: -3px;
  }
  .block-search .action.search:before {
    color: black;
  }
  .block-search p {
    display: inline-block;
  }
  .minicart-wrapper {
    margin-top: -19px;
  }
  .minicart-wrapper .div-icon {
    width: auto;
    padding-left: 15px;
    display: inline-block;
  }
  .minicart-wrapper .div-icon .link-text-icon {
    color: black;
  }
  .minicart-wrapper .div-icon img {
    width: 20px;
    padding-right: 10px;
    margin-bottom: -5px;
  }
  .minicart-wrapper .div-icon .text-icon {
    display: inline-block;
  }
  .minicart-wrapper .action.showcart:before {
    margin-top: -5px;
  }
  .page-header .panel.wrapper {
    text-align: center;
    background-color: #ede3de;
  }
  .page-header .switcher strong {
    font-weight: bold;
  }
  .page-header .switcher .options {
    margin-bottom: -50px;
  }
  .page-header .switcher .options .action.toggle {
    display: table;
  }
  .page-header .panel.header p {
    margin: 0;
  }
  .page-header .panel.header .action skip contentarea {
    font-size: 18px;
  }
  .page-footer .switcher .options {
    margin-bottom: -50px;
  }
  .page-footer .switcher .options .action.toggle {
    display: table;
  }
  .logo {
    float: unset;
  }
  .logo img {
    max-width: 330px;
    display: block;
    margin: auto;
  }
  .header.content {
    background: url('../images/img-header.png') top center;
    height: 61vw;
    background-size: cover;
    max-width: unset;
    padding: 0 50px;
  }
  .header.content .header.links {
    display: inline-block;
    list-style: none;
    float: right;
    margin-top: -19px;
  }
  .header.content .header.links a {
    color: black;
  }
  .header.content .header.links li {
    display: inline-block;
  }
  .header.content .header.links li:first-child {
    padding-right: 20px;
  }
  .header.content .minicart-wrapper .div-icon .action {
    color: black;
    padding-right: 5px;
  }
  .header.links .link.wishlist .link-text-icon {
    float: right;
  }
  .header.links .link.wishlist .action {
    padding-right: 10px;
  }
  .page-layout-1column .block.widget .block-title div {
    display: inline-block;
  }
  .page-layout-1column .block.widget .block-title .title-new-in {
    font-size: 40px;
  }
  .page-layout-1column .block.widget .block-title .title-discover {
    float: right;
    border-bottom: solid 2px #000;
    font-size: 20px;
    padding-top: 15px;
  }
  .block.widget .block-content .product-item-details .product-item-link {
    font-size: 20px;
    font-weight: bold;
  }
  .block.widget .block-content .product-item-details .product-item-name {
    text-align: left;
    padding-left: 10px;
  }
  .block.widget .block-content .product-item-details p {
    text-align: left;
    padding-left: 10px;
  }
  .block.block-search .block.block-content .div-icon a:visited {
    color: black;
  }
  .alink:visited {
    color: black;
  }
  .product-image-container {
    width: 350px !important;
  }
  .product-image-container .product-image-wrapper {
    width: 21vw;
    height: 26vw;
    margin-left: -20px;
    padding-bottom: 0 !important;
  }
  .carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
  }
  .owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
  }
  .owl-carousel .owl-nav button.owl-next {
    float: right;
    font-size: 40px;
    margin: -260px -25px 0 0;
  }
  .owl-carousel .owl-nav button.owl-prev {
    float: left;
    font-size: 40px;
    margin: -260px 0 0 -25px;
  }
  .owl-carousel .owl-nav.disabled {
    display: unset;
  }
  .owl-carousel .item {
    text-align: left;
  }
  .owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
  }
  .owl-carousel .owl-prev.disabled {
    pointer-events: none;
    opacity: 0.2;
  }
  .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
  }
  .owl-carousel .prev-slide {
    background-color: black;
    left: -33px;
    margin-top: 70px;
  }
  .owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
  }
  .owl-carousel .next-slide {
    background-color: black;
    right: -33px;
    margin-top: 70px;
  }
  .owl-carousel .next-slide:hover {
    background-position: -24px -53px;
  }
  .owl-theme .owl-dots {
    display: none;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    background: #2caae1;
  }
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
  }
  .owl-theme .owl-nav {
    display: none;
  }
  span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
  }
  span.img-text:hover {
    color: #2caae1;
  }
  .page-main {
    max-width: unset;
    padding: 0;
  }
  .columns .column.main {
    padding-bottom: 0;
  }
  .columns .column.main .block p:last-child {
    text-align: left;
  }
  .columns .column.main .widget {
    clear: both;
    padding: 0 50px;
  }
  .main-content-first img {
    margin-top: -7%;
  }
  .main-content-first .block-content-five-mini {
    width: 39vw;
    position: absolute;
    margin: -70vw 0 0 54vw;
    text-align: center;
  }
  .main-content-first .block-content-five-mini .content_five_mini_child_5_1 {
    font-size: 40px;
  }
  .main-content-first .block-content-five-mini .content_five_mini_child_5_2 p {
    display: inline-block;
    border-bottom: solid 2px;
    font-size: 20px;
  }
  .content-one {
    padding: 0 50px;
  }
  .content-one .main-content-one-child-2 {
    padding-right: 0;
  }
  .content-one .main-content-one-child-1 {
    padding-left: 0;
  }
  .content-one .content-one-child .content-one-mini-child-1-1 {
    padding-left: 0px;
  }
  .content-one .content-one-child .content-one-mini-child-1-1 .line-one {
    font-size: 23px;
  }
  .content-one .content-one-child .content-one-mini-child-1-1 .line-two {
    font-size: 19px;
  }
  .content-one .content-one-child .content-one-mini-child-2-1 {
    padding-left: 0px;
  }
  .content-one .content-one-child .content-one-mini-child-2-1 .line-one {
    font-size: 23px;
  }
  .content-one .content-one-child .content-one-mini-child-2-1 .line-two {
    font-size: 19px;
  }
  .content-one .content-one-child .content-one-mini-child-1-2 {
    padding-right: 0px;
  }
  .content-one .content-one-child .content-one-mini-child-2-2 {
    padding-right: 0px;
  }
  .content-one .content-one-mini-child-1-2 p {
    display: inline-block;
    float: right;
    border-bottom: solid 2px #000;
    font-size: 20px;
    padding-top: 20px;
    font-weight: bold;
  }
  .content-one img {
    height: 51vw;
    width: 100%;
  }
  .content-one-mini-child-2-2 p {
    display: inline-block;
    float: right;
    border-bottom: solid 2px #000;
    font-size: 20px;
    padding-top: 20px;
    font-weight: bold;
  }
  .content-two {
    padding: 40px 50px;
  }
  .content-two img {
    height: 51vw;
    width: 95%;
  }
  .content-two .main-content-two-child-1-1 {
    width: 80%;
  }
  .content-two .content-two-mini-child-1-1 .line-one {
    font-size: 35px;
  }
  .content-two .content-two-mini-child-1-1 .line-two {
    font-size: 20px;
  }
  .content-two .main-content-two-child-1-2 {
    width: 26vw;
    height: max-content;
    margin: -30vw 0 0 69vw;
    z-index: 1;
    display: inline-block;
    background: #ede3de;
    padding: 2vw 3vw;
  }
  .content-two .main-content-two-child-1-2 .content-two-mini-child-1-2 {
    display: inline-block;
    border-bottom: solid 2px #000;
    font-size: 20px;
    font-weight: bold;
  }
  .content-two .main-content-two-child-1-2 .content-two-mini-child-1-2 strong {
    border-bottom: solid 2px #000;
  }
  .content-three {
    padding: 0 35px 50px 35px;
  }
  .content-three img {
    height: auto;
  }
  .content-three .main-content-three-child-1-2 {
    text-align: center;
  }
  .content-three .content-three-mini-child-1-1 p {
    font-size: 25px;
  }
  .content-three .content-three-mini-child-2-1 p {
    font-size: 25px;
  }
  .content-three .content-three-mini-child-3-1 p {
    font-size: 25px;
  }
  .content-three .content-three-mini-child-1-2 p {
    display: inline-block;
    border-bottom: solid 2px #000;
    font-size: 20px;
    font-weight: bold;
  }
  .content-three .content-three-mini-child-2-2 p {
    display: inline-block;
    border-bottom: solid 2px #000;
    font-size: 20px;
    font-weight: bold;
  }
  .content-three .content-three-mini-child-3-2 p {
    display: inline-block;
    border-bottom: solid 2px #000;
    font-size: 20px;
    font-weight: bold;
  }
  .content-three .main-content-three-hidden .content-three .block.widget .owl-dots {
    display: none;
  }
  .main-content-three-child-2-2 {
    text-align: center;
  }
  .main-content-three-child-3-2 {
    text-align: center;
  }
  .content-four img {
    width: 100%;
  }
  .content-four .main-content-four-child-2 {
    position: absolute;
    width: 28vw;
    margin: 12vw 0 0 36vw;
    background-color: #ede3de;
    padding: 2vw 3vw;
  }
  .content-four .main-content-four-child-2 p {
    padding-top: 20px;
  }
  .content-four .main-content-four-child-2 .content-four-mini-child-4-1 .line-one {
    font-size: 40px;
  }
  .content-four .main-content-four-child-2 .content-four-mini-child-4-1 .line-two {
    font-size: 20px;
  }
  .content-four .main-content-four-child-2 .content-four-mini-child-4-2 p {
    border-bottom: solid 2px #000;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
  }
  .footer_links_account_join {
    width: 29%;
    display: inline-block;
  }
  .footer.content {
    padding: 0 50px 10px 50px;
    border-top: unset;
    max-width: unset;
  }
  .footer.content .block {
    float: unset;
    display: inline-block;
    padding: 0 50px 0 0;
  }
  .footer.content .links {
    float: right;
    padding: 0 100px 0 0;
  }
  .footer.content .footer.links.account li a {
    color: black;
  }
  .footer.content .footer.links.customer.care li a {
    color: black;
  }
  .footer.content .footer.links.about.adornmonde li a {
    color: black;
  }
  .footer.content .block.newsletter {
    max-width: 100%;
  }
  .footer.content .block.newsletter .content {
    max-width: 100%;
  }
  .footer.content .block.newsletter .content input[type="email"] {
    border: 2px solid #000;
    height: 40px;
  }
  .footer.content .block.newsletter .content label {
    width: 100%;
  }
  .footer.content .block.newsletter .field .control:before {
    line-height: 40px;
  }
  .footer.content .block.newsletter .action.subscribe {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-radius: 0px;
    margin-left: -6px;
    height: 40px;
  }
  .bottom-content-footer {
    width: 100%;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-1 {
    grid-column: 1;
    width: max-content;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-1 p {
    width: max-content;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-1 img {
    width: 60px;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-2 {
    padding-top: 5px;
    margin-left: -20px;
    grid-column: 0.15384615;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-2 a {
    color: black;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-2 .p-link {
    display: inline-block;
    padding: 0 10px 0 0;
    font-weight: bold;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-2 .p-stick {
    display: inline-block;
    padding: 0 10px 0 0;
    font-weight: bold;
  }
  .bottom-content-footer .bottom-content-footer-right {
    padding-top: 15px;
  }
  .bottom-content-footer .bottom-content-footer-right img {
    float: right;
    padding: 0 10px;
    height: 35px;
  }
  .action.primary {
    background: black;
    border: 1px solid #000;
  }
  .footer .bottom-content-footer-right p {
    padding-top: 15px;
  }
}
@media only screen and (max-width: 1600px) {
  .main-content-first .block-content-five-mini .content_five_mini_child_5_1 {
    font-size: 35px;
  }
  .page-layout-1column .block.widget .block-title .title-new-in {
    font-size: 35px;
  }
  .content-one .main-content-one-child-2 {
    padding-right: 0;
  }
  .content-one .main-content-one-child-1 {
    padding-left: 0;
  }
  .content-one .content-one-child .content-one-mini-child-1-1 {
    padding-left: 0px;
  }
  .content-one .content-one-child .content-one-mini-child-2-1 {
    padding-left: 0px;
  }
  .content-one .content-one-child .content-one-mini-child-1-2 {
    padding-right: 0px;
  }
  .content-one .content-one-child .content-one-mini-child-2-2 {
    padding-right: 0px;
  }
  .content-two .content-two-mini-child-1-1 .line-one {
    font-size: 35px;
  }
  .content-two .content-two-mini-child-1-1 .line-two {
    font-size: 18px;
  }
  .content-two .main-content-two-child-1-2 {
    margin: -33vw 0 0 69vw;
  }
  .content-four .main-content-four-child-2 .content-four-mini-child-4-1 .line-one {
    padding-top: 0;
    font-size: 30px;
  }
  .content-four .main-content-four-child-2 .content-four-mini-child-4-1 .line-two {
    padding-top: 0;
    font-size: 17px;
  }
  .content-four .main-content-four-child-2 .content-four-mini-child-4-2 p {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 1440px) {
  .navigation {
    background: unset;
    background-color: transparent !important;
    border-color: transparent;
    background-image: none;
    box-shadow: none;
    height: auto;
    text-align: center;
    display: block;
  }
  .navigation ul {
    margin-top: 1vw;
    width: max-content;
    margin: auto;
    padding-top: 25px;
  }
  .navigation li a {
    font-size: 20px;
    color: #fff;
  }
  .navigation .level0 > .level-top {
    padding: 0 0 0 4vw;
    color: black;
    font-family: sans-serif;
  }
  .nav-sections {
    background: unset;
  }
  .block-search {
    width: auto;
    margin-top: -19px;
  }
  .block-search .block-content .div-icon a {
    color: black;
  }
  .block-search .action.search {
    position: unset;
    padding: 0;
    margin-top: -3px;
  }
  .block-search .action.search:before {
    color: black;
  }
  .block-search p {
    display: inline-block;
  }
  .minicart-wrapper {
    margin-top: -19px;
  }
  .minicart-wrapper .div-icon {
    width: auto;
    padding-left: 15px;
    display: inline-block;
  }
  .minicart-wrapper .div-icon .link-text-icon {
    color: black;
  }
  .minicart-wrapper .div-icon img {
    width: 20px;
    padding-right: 10px;
    margin-bottom: -5px;
  }
  .minicart-wrapper .div-icon .text-icon {
    display: inline-block;
  }
  .minicart-wrapper .action.showcart:before {
    margin-top: -5px;
  }
  .page-header .panel.wrapper {
    text-align: center;
    background-color: #ede3de;
  }
  .page-header .switcher strong {
    font-weight: bold;
  }
  .page-header .switcher .options {
    margin-bottom: -50px;
    margin-bottom: -39px;
  }
  .page-header .switcher .options .action.toggle {
    display: table;
  }
  .page-header .panel.header p {
    margin: 0;
  }
  .page-header .panel.header .action skip contentarea {
    font-size: 18px;
  }
  .page-footer .switcher .options {
    margin-bottom: -50px;
  }
  .page-footer .switcher .options .action.toggle {
    display: table;
  }
  .logo {
    float: unset;
  }
  .logo img {
    max-width: 250px;
    display: block;
    margin: auto;
  }
  .header.content {
    background: url('../images/img-header.png') top center;
    height: 60vw;
    background-size: cover;
    max-width: unset;
    padding: 0 30px;
  }
  .header.content .header.links {
    display: inline-block;
    list-style: none;
    float: right;
    margin-top: -19px;
    padding-left: 15px;
    margin-bottom: 0px;
  }
  .header.content .header.links a {
    color: black;
  }
  .header.content .header.links li {
    display: inline-block;
  }
  .header.content .header.links li:first-child {
    padding-right: 20px;
  }
  .header.content .minicart-wrapper .div-icon .action {
    color: black;
    padding-right: 5px;
  }
  .header.links .link.wishlist .link-text-icon {
    float: right;
  }
  .header.links .link.wishlist .action {
    padding-right: 10px;
  }
  .page-layout-1column .block.widget .block-title div {
    display: inline-block;
  }
  .page-layout-1column .block.widget .block-title .title-new-in {
    font-size: 30px;
  }
  .page-layout-1column .block.widget .block-title .title-discover {
    float: right;
    border-bottom: solid 2px #000;
    font-size: 15px;
    padding-top: 15px;
  }
  .block.widget .block-content .product-item-details .product-item-link {
    font-size: 17px;
    font-weight: bold;
  }
  .block.widget .block-content .product-item-details .product-item-name {
    text-align: left;
    margin: 0;
    padding-left: 0;
  }
  .block.widget .block-content .product-item-details p {
    text-align: left;
    margin: 0;
    padding-left: 0;
  }
  .product-image-container {
    width: 350px !important;
  }
  .product-image-container .product-image-wrapper {
    width: 21vw;
    height: 26vw;
    margin-left: -20px;
    padding-bottom: 0 !important;
  }
  .carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
  }
  .owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
  }
  .owl-carousel .owl-nav button.owl-next {
    float: right;
    font-size: 30px;
    margin: -220px -25px 0 0;
  }
  .owl-carousel .owl-nav button.owl-prev {
    float: left;
    font-size: 30px;
    margin: -220px 0 0 -25px;
  }
  .owl-carousel .owl-nav.disabled {
    display: unset;
  }
  .owl-carousel .item {
    text-align: left;
  }
  .owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
  }
  .owl-carousel .owl-prev.disabled {
    pointer-events: none;
    opacity: 0.2;
  }
  .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
  }
  .owl-carousel .prev-slide {
    background-color: black;
    left: -33px;
    margin-top: 70px;
  }
  .owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
  }
  .owl-carousel .next-slide {
    background-color: black;
    right: -33px;
    margin-top: 70px;
  }
  .owl-carousel .next-slide:hover {
    background-position: -24px -53px;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    background: #2caae1;
  }
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
  }
  span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
  }
  span.img-text:hover {
    color: #2caae1;
  }
  .page-main {
    max-width: unset;
    padding: 0;
  }
  .columns .column.main {
    padding-bottom: 0;
  }
  .columns .column.main .block p:last-child {
    text-align: left;
  }
  .columns .column.main .widget {
    clear: both;
    padding: 0 30px;
  }
  .main-content-first img {
    margin-top: -7%;
  }
  .main-content-first .block-content-five-mini {
    width: 42vw;
    position: absolute;
    margin: -73vw 0 0 54vw;
    text-align: center;
  }
  .main-content-first .block-content-five-mini .content_five_mini_child_5_1 {
    font-size: 25px;
  }
  .main-content-first .block-content-five-mini .content_five_mini_child_5_2 p {
    display: inline-block;
    border-bottom: solid 2px;
    font-size: 20px;
  }
  .content-one {
    padding: 0 30px;
  }
  .content-one .content-one-child .content-one-mini-child-1-1 .line-one {
    font-size: 18px;
  }
  .content-one .content-one-child .content-one-mini-child-1-1 .line-two {
    font-size: 14px;
  }
  .content-one .content-one-child .content-one-mini-child-2-1 .line-one {
    font-size: 18px;
  }
  .content-one .content-one-child .content-one-mini-child-2-1 .line-two {
    font-size: 14px;
  }
  .content-one .content-one-mini-child-1-2 p {
    display: inline-block;
    float: right;
    border-bottom: solid 2px #000;
    font-size: 18px;
    padding-top: 15px;
    font-weight: bold;
  }
  .content-one img {
    height: 50vw;
  }
  .content-one-mini-child-2-2 p {
    display: inline-block;
    float: right;
    border-bottom: solid 2px #000;
    font-size: 18px;
    padding-top: 15px;
    font-weight: bold;
  }
  .content-two {
    padding: 20px 30px;
  }
  .content-two img {
    height: auto;
    width: 95%;
  }
  .content-two .content-two-mini-child-1-1 .line-one {
    font-size: 25px;
  }
  .content-two .content-two-mini-child-1-1 .line-two {
    font-size: 14px;
  }
  .content-two .main-content-two-child-1-2 {
    width: 27vw;
    height: max-content;
    margin: -33vw 0 0 69vw;
    display: inline-block;
    background: #ede3de;
    padding: 2vw 3vw;
  }
  .content-two .main-content-two-child-1-2 .content-two-mini-child-1-2 {
    display: inline-block;
    border-bottom: solid 2px #000;
    font-size: 15px;
    font-weight: bold;
  }
  .content-two .main-content-two-child-1-2 .content-two-mini-child-1-2 strong {
    border-bottom: solid 2px #000;
  }
  .content-three {
    padding: 0 30px 30px 30px;
  }
  .content-three .main-content-three-child-1-2 {
    text-align: center;
  }
  .content-three .content-three-mini-child-1-1 p {
    font-size: 20px;
  }
  .content-three .content-three-mini-child-2-1 p {
    font-size: 20px;
  }
  .content-three .content-three-mini-child-3-1 p {
    font-size: 20px;
  }
  .content-three .content-three-mini-child-1-2 p {
    display: inline-block;
    border-bottom: solid 2px #000;
    font-size: 17px;
    font-weight: bold;
  }
  .content-three .content-three-mini-child-2-2 p {
    display: inline-block;
    border-bottom: solid 2px #000;
    font-size: 17px;
    font-weight: bold;
  }
  .content-three .content-three-mini-child-3-2 p {
    display: inline-block;
    border-bottom: solid 2px #000;
    font-size: 17px;
    font-weight: bold;
  }
  .main-content-three-child-2-2 {
    text-align: center;
  }
  .main-content-three-child-3-2 {
    text-align: center;
  }
  .content-four img {
    width: 100%;
  }
  .content-four .main-content-four-child-2 {
    position: absolute;
    width: 28vw;
    margin: 12vw 0 0 36vw;
    background-color: #ede3de;
    padding: 1vw 3vw;
  }
  .content-four .main-content-four-child-2 .content-four-mini-child-4-1 .line-one {
    font-size: 25px;
    padding-top: 10px;
  }
  .content-four .main-content-four-child-2 .content-four-mini-child-4-1 .line-two {
    font-size: 14px;
    padding: 0;
  }
  .content-four .main-content-four-child-2 .content-four-mini-child-4-2 p {
    border-bottom: solid 2px #000;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
  }
  .footer_links_account_join {
    width: 29%;
    display: inline-block;
  }
  .footer.content {
    padding: 0 50px 0 50px;
    border-top: unset;
    max-width: unset;
  }
  .footer.content .block {
    float: unset;
    width: 40%;
    display: inline-block;
    padding: 0 50px 0 0;
  }
  .footer.content .links {
    float: right;
    padding: 0 3vw 0 0;
  }
  .footer.content .footer.links.account li a {
    color: black;
  }
  .footer.content .footer.links.customer.care li a {
    color: black;
  }
  .footer.content .footer.links.about.adornmonde li a {
    color: black;
  }
  .footer.content .block.newsletter .content input[type="email"] {
    border: 1px solid #000;
    height: 40px;
  }
  .footer.content .block.newsletter .content label {
    width: 100%;
  }
  .footer.content .block.newsletter .field .control:before {
    line-height: 40px;
  }
  .footer.content .block.newsletter .action.subscribe {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-radius: 0px;
    margin-left: -6px;
    height: 40px;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-1 {
    grid-column: 1;
    width: max-content;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-1 p {
    width: max-content;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-1 img {
    width: 50px;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-2 {
    padding-top: 5px;
    margin-left: 0px;
    grid-column: 0.15384615;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-2 p:first-child {
    margin-bottom: 5px;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-2 a {
    color: black;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-2 .p-link {
    display: inline-block;
    padding: 0 3px 0 0;
    font-weight: bold;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-2 .p-stick {
    display: inline-block;
    padding: 0 3px 0 0;
    font-weight: bold;
  }
  .bottom-content-footer .bottom-content-footer-right {
    padding-top: 15px;
  }
  .bottom-content-footer .bottom-content-footer-right img {
    float: right;
    padding: 0 10px;
    height: 25px;
  }
  .action.primary {
    background: black;
    border: 1px solid #000;
  }
}
@media only screen and (max-width: 1198px) {
  .content-two .main-content-two-child-1-2 {
    margin: -37vw 0 0 69vw;
  }
  .content-three {
    padding: 0 15px 30px 15px;
  }
  .header.content .header.links {
    height: 20px;
    margin-bottom: 0px;
  }
  .bottom-content-footer .content-footer-left-2 .p-copy {
    font-size: 14px;
    margin: 0;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-2 .p-link {
    font-size: 14px;
  }
  .footer.content .links {
    padding: 0px 1vw 0 0;
    font-size: 14px;
    float: right;
    padding: 0 3vw 0 0;
  }
  .footer.content .content p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 960px) {
  .logo img {
    max-width: 230px;
  }
  .page-header .switcher .options {
    margin-bottom: -36px;
  }
  .navigation ul {
    padding-top: 10px;
  }
  .main-content-first .block-content-five-mini {
    margin: -78vw 0 0 51vw;
  }
  .content-one .content-one-mini-child-1-2 p {
    padding-top: 30px;
  }
  .content-one-mini-child-2-2 p {
    padding-top: 30px;
  }
  .content-two .main-content-two-child-1-2 {
    margin: -36vw 0 0 69vw;
    margin: -43vw 0 0 64vw;
  }
  .content-two .content-two-mini-child-1-1 .line-one {
    font-size: 20px;
  }
  .content-three {
    padding: 0 15px 30px 15px;
  }
  .content-three .content-three-mini-child-1-1 p {
    font-size: 19px;
  }
  .content-four .main-content-four-child-2 {
    width: 34vw;
    margin: 12vw 0 0 29vw;
  }
  .content-four .main-content-four-child-2 .content-four-mini-child-4-2 p {
    padding-top: 5px;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-2 p:first-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  .header.content {
    padding: 0 15px;
  }
  .header.content .header.links li:first-child {
    padding-right: 15px;
  }
  .logo img {
    margin-top: -20px;
    max-width: 200px;
  }
  .main-content-first .block-content-five-mini {
    margin: -690px 0 0 11vw;
    width: 80%;
  }
  .columns .column.main .widget {
    padding: 0px 15px 0 15px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    margin: -200px 0 0 -25px;
    display: none;
  }
  .owl-carousel .owl-nav button.owl-next {
    margin: -200px -25px 0 0;
    display: none;
  }
  .block.widget .block-content .product-item-details .product-item-link {
    font-size: 15px;
  }
  .product-image-container .product-image-wrapper {
    width: 230px;
    height: 290px;
  }
  .content-one {
    padding: 0;
  }
  .content-one .content-one-mini-child-1-2 p {
    font-size: 14px;
    padding-top: 35px;
    float: unset;
    padding-top: 5px;
    margin-bottom: 25px;
  }
  .content-one img {
    height: -webkit-fill-available;
  }
  .content-one .main-content-one-child-2 {
    padding-left: 0;
  }
  .content-one .content-one-child .content-one-mini-child-1-1 {
    text-align: center;
    padding-right: 0;
  }
  .content-one .content-one-child .content-one-mini-child-1-1 .line-two {
    margin-bottom: 0;
  }
  .content-one .content-one-child .content-one-mini-child-1-1 .line-one {
    margin-bottom: 0;
  }
  .content-one .content-one-child .content-one-mini-child-2-1 {
    text-align: center;
    padding-right: 0;
  }
  .content-one .content-one-child .content-one-mini-child-2-1 .line-two {
    margin-bottom: 0;
  }
  .content-one .content-one-child .content-one-mini-child-2-1 .line-one {
    margin-bottom: 0;
  }
  .content-one .content-one-child .content-one-mini-child-1-2 {
    padding-left: 0;
    text-align: center;
  }
  .content-one .content-one-child .content-one-mini-child-2-2 {
    padding-left: 0;
    text-align: center;
  }
  .content-one .main-content-one-child-1 {
    padding-right: 0;
  }
  .content-one-mini-child-2-2 p {
    font-size: 14px;
    padding-top: 35px;
    float: unset;
    padding-top: 5px;
    margin-bottom: 25px;
  }
  .owl-theme .owl-dots {
    padding: 0 50px 0 20px;
  }
  .owl-theme .owl-dots .owl-dot {
    width: 33%;
  }
  .owl-theme .owl-dots .owl-dot span {
    height: 4px;
    border-radius: unset;
    width: 100%;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    width: 100%;
  }
  .owl-theme .owl-nav {
    padding: 0 50px 0 20px;
  }
  .content-two {
    padding: 0 0 20px 0;
  }
  .content-two img {
    width: 100%;
  }
  .content-two .main-content-two-child-1-1 {
    width: 100%;
  }
  .content-two .content-two-mini-child-1-1 .line-one {
    font-size: 25px;
  }
  .content-two .main-content-two-child-1-2 {
    margin: -7vw 0 0 25vw;
    width: 50%;
    padding: 2vw 5vw;
  }
  .content-three {
    padding: 0 15px 0px 15px;
  }
  .content-three .main-content-three-hidden .block.widget .title p {
    text-align: center;
  }
  .content-three .main-content-three-hidden .block.widget .link {
    text-align: center;
  }
  .content-three .main-content-three-hidden .block.widget .link p {
    font-weight: bold;
    border-bottom: 1px solid #000;
    display: inline-block;
  }
  .content-four .main-content-four-child-2 {
    width: 50%;
    margin: 28vw 0 0 24vw;
    padding: 1vw 5vw;
  }
  .content-four .main-content-four-child-2 .content-four-mini-child-4-1 .line-one {
    padding-top: 5px;
    margin-bottom: 0;
  }
  .footer.content {
    padding: 0 30px;
  }
  .footer.content .links {
    padding: 0 1vw 0 0;
    float: unset;
    display: contents;
    padding: 0;
  }
  .footer.content .links > li {
    width: 50%;
    padding-left: 0;
    display: inline-block;
  }
  .footer.content .block {
    padding: 0;
  }
  .footer.content .link-footer {
    width: 100%;
  }
  .bottom-content-footer .bottom-content-footer-right {
    text-align: center;
    order: 1;
  }
  .bottom-content-footer .bottom-content-footer-right img {
    padding: 0 9px;
    float: unset;
  }
  .bottom-content-footer .bottom-content-footer-right p {
    border-top: 1px solid #000;
    padding-top: 30px;
  }
  .bottom-content-footer .content-footer-left-2 {
    order: 1;
  }
  .bottom-content-footer .content-footer-left-2 .p-copy {
    font-size: 12px;
    font-size: 15px;
  }
  .bottom-content-footer .content-footer-left-2 .p-link {
    font-size: 14px;
  }
  .bottom-content-footer .bottom-content-footer-left {
    text-align: center;
    order: 2;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-2 .p-link {
    font-size: 12px;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-1 {
    margin-bottom: 20px;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-1 p {
    margin: auto;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-1 img {
    width: 55px;
  }
  .bottom-content-footer .content-footer-left-1 {
    margin: auto;
    order: 2;
  }
  .block.newsletter {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 590px) {
  .product-image-container .product-image-wrapper {
    width: 200px;
    height: 250px;
  }
  .main-content-first .block-content-five-mini {
    margin: -620px 0 0 11vw;
  }
  .content-four .main-content-four-child-2 {
    margin: 270px 0 0 20vw;
    width: 60%;
  }
  .content-four img {
    width: unset;
    height: 400px;
    object-fit: cover;
    object-position: right;
  }
  .content-one img {
    height: auto;
  }
  .content-two img {
    width: max-content;
    height: 400px;
    object-fit: cover;
    object-position: left;
  }
  .content-two .main-content-two-child-1-1 {
    width: max-content;
    height: 400px;
    object-fit: cover;
    object-position: left;
  }
  .content-two .main-content-two-child-1-2 {
    margin: -7vw 0 0 21vw;
    width: 60%;
  }
  .content-three {
    padding: 0;
  }
  .content-three .main-content-three-hidden .block.widget {
    padding: 0;
    margin-bottom: 10px;
  }
  .owl-theme .owl-dots {
    padding: 0 50px 0 20px;
    display: block;
  }
  .owl-theme .owl-nav {
    padding: 0 50px 0 20px;
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .header.content {
    height: 400px;
  }
  .columns .column.main .widget {
    padding: 0px 0px 0 15px;
  }
  .main-content-first .block-content-five-mini {
    margin: -765px 0 0 11vw;
  }
  .main-content-first .block-content-five-mini .content_five_mini_child_5_1 {
    font-size: 23px;
  }
  .page-layout-1column .block.widget .block-title .title-new-in {
    font-size: 25px;
  }
  .page-layout-1column .block.widget .block-title .title-discover {
    margin-right: 15px;
  }
  .product-image-container .product-image-wrapper {
    width: 65vw;
    height: 81vw;
  }
  .content-one .content-one-mini-child-1-2 p {
    padding-top: 0px;
    margin-bottom: 20px;
  }
  .content-one-mini-child-2-2 p {
    padding-top: 0px;
    margin-bottom: 20px;
  }
  .content-two .content-two-mini-child-1-1 .line-one {
    font-size: 23px;
  }
  .content-three {
    padding: 0;
  }
  .content-three .main-content-three-hidden .block.widget {
    padding: 0;
    margin-bottom: 20px;
  }
  .content-three .main-content-three-hidden .block.widget .title p {
    text-align: center;
  }
  .content-three .main-content-three-hidden .block.widget .link {
    text-align: center;
  }
  .content-three .main-content-three-hidden .block.widget .link p {
    font-weight: bold;
    border-bottom: 1px solid #000;
    display: inline-block;
  }
  .content-four .main-content-four-child-2 {
    width: 65%;
    margin: 270px 0 0 18vw;
  }
  .content-four .main-content-four-child-2 .content-four-mini-child-4-1 .line-one {
    font-size: 23px;
  }
  .content-four img {
    height: 400px;
    object-fit: cover;
    object-position: right;
  }
  .owl-carousel .owl-nav button.owl-prev {
    display: none;
  }
  .owl-carousel .owl-nav button.owl-next {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .page-header .panel.header p {
    font-size: 13px;
    padding: 5px 0;
  }
  .header.content {
    height: 400px;
  }
  .logo img {
    max-width: 175px;
  }
  .owl-theme .owl-dots {
    padding: 0 50px 0 20px;
  }
  .owl-theme .owl-dots .owl-dot span {
    height: 4px;
    border-radius: unset;
    width: 100%;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    width: 100%;
  }
  .owl-theme .owl-nav {
    padding: 0 50px 0 20px;
  }
  .main-content-first .block-content-five-mini {
    width: 75%;
    margin: -180vw 0 0 13vw;
  }
  .main-content-first .block-content-five-mini .content_five_mini_child_5_1 {
    font-size: 16px;
  }
  .columns .column.main .widget {
    padding: 0px 0px 0 15px;
    display: contents;
  }
  .columns .widget.block-new-products .block-title {
    padding-left: 15px;
  }
  .columns .widget.block-new-products .block-content {
    padding-left: 15px;
  }
  .product-image-container .product-image-wrapper {
    width: 63vw;
    height: 78vw;
  }
  .page-layout-1column .block.widget .block-title .title-new-in {
    font-size: 25px;
  }
  .page-layout-1column .block.widget .block-title .title-discover {
    margin-right: 15px;
  }
  .content-one {
    padding: 20px 0 0 0;
  }
  .content-one img {
    height: auto;
    width: 100%;
  }
  .content-one .content-one-mini-child-1-2 p {
    float: unset;
    padding: 0;
    margin-bottom: 30px;
  }
  .content-one .main-content-one-child-1 {
    padding: 0;
  }
  .content-one .main-content-one-child-2 {
    padding: 0;
  }
  .content-one-child {
    text-align: center;
  }
  .content-one-mini-child-2-2 p {
    float: unset;
    padding: 0;
    margin-bottom: 30px;
  }
  .content-two {
    padding: 0 0 30px 0;
  }
  .content-two img {
    height: 460px;
    width: 100%;
    object-fit: cover;
    object-position: left;
  }
  .content-two .main-content-two-child-1-1 {
    padding: 0;
    width: 100%;
  }
  .content-two .main-content-two-child-1-2 {
    width: 85vw;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
  }
  .content-two .main-content-two-child-1-2 .content-two-mini-child-1-2 {
    font-size: 14px;
  }
  .content-two .content-two-mini-child-1-1 {
    display: contents;
  }
  .content-two .content-two-mini-child-1-1 .line-one {
    font-size: 25px;
  }
  .content-three {
    padding: 0;
  }
  .content-three .item {
    text-align: center;
  }
  .content-three .title p {
    display: inline-block;
    font-size: 16px;
  }
  .content-three .link p {
    font-size: 15px;
    display: inline-block;
    border-bottom: 2px solid #000;
    font-weight: bold;
  }
  .content-three .owl-carousel .owl-item img {
    height: auto;
  }
  .content-three .block.widget .owl-dots {
    display: none;
  }
  .content-three .main-content-three-hidden .block.widget .title p {
    padding-top: 10px;
  }
  .content-four {
    padding: 30px 0 20px 0;
  }
  .content-four img {
    height: 400px;
    object-fit: cover;
    object-position: -468px;
  }
  .content-four .main-content-four-child-1 {
    padding: 0;
  }
  .content-four .main-content-four-child-2 {
    position: unset;
    width: 85vw;
    margin: auto;
    margin-top: -160px;
    z-index: 1;
  }
  .footer.content {
    padding: 0;
  }
  .footer.content .block {
    padding: 0 15px;
  }
  .footer.content .links {
    float: unset;
    display: contents;
    padding: 0;
  }
  .footer.content .links > li {
    width: 50%;
    padding-left: 15px;
    display: inline-block;
  }
  .footer.content .link-footer {
    width: 100%;
  }
  .bottom-content-footer .bottom-content-footer-right {
    text-align: center;
    order: 1;
  }
  .bottom-content-footer .bottom-content-footer-right img {
    float: unset;
  }
  .bottom-content-footer .bottom-content-footer-right p {
    border-top: 1px solid #000;
    padding-top: 30px;
    margin: 0 15px;
  }
  .bottom-content-footer .bottom-content-footer-left {
    text-align: center;
    order: 2;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-1 {
    padding-bottom: 30px;
  }
  .bottom-content-footer .bottom-content-footer-left .content-footer-left-1 p {
    margin: auto;
  }
  .bottom-content-footer .content-footer-left-1 {
    margin: auto;
    order: 2;
  }
  .bottom-content-footer .content-footer-left-2 {
    order: 1;
  }
  .bottom-content-footer .content-footer-left-2 .p-link {
    font-size: 12px;
  }
  .bottom-content-footer .content-footer-left-2 .p-copy {
    font-size: 13px;
  }
}
